.section2_wrapper {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .feed {
        display: flex;
        flex-direction: column;
        gap: .75rem;

        h2 {
            font-size: 1.95rem;
        }

        p {
            color: #6b6b6b;
        }
    
        a {
            display: flex;
            align-items: center;
            color: #664efc;
            text-decoration: none;
            font-weight: 700;
    
            &:hover {
                text-decoration: underline;
            }
    
            span {
                font-size: .80rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .section2_wrapper {
        padding: 3rem;
        flex-direction: row;
        align-items: center;

        img {
            width: 45%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .section2_wrapper {
        padding: 3rem 10.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .section2_wrapper {
        justify-content: space-between;
        
        .feed {
            h2 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.2rem;
            }

            a {
                font-size: 1.1rem;
            }
        }

        section {
            width: 60%;
        }

        img {
            width: 27.5%;
        }
    }
}