@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: DM Sans, sans-serif;
    position: relative;
    background: radial-gradient(50% 128% at 50% 50%, rgba(193, 67, 252, 0.3) 0%, rgba(255, 221, 255, 0.6) 100%);
}

img {
    max-width: 100%;
}