header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    .back {
        button {
            background: #fff;
            border: 1px solid #6b6b6b;
            border-radius: .25rem;
            padding: .5rem;
            cursor: pointer;
            display: grid;
            place-content: center;
        }

        p {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        padding: 3rem;

        .back {
            display: flex;
            align-items: center;
            gap: .5rem;

            p {
                display: block;
                font-weight: 700;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 3rem 12rem;
    }
}